*{
       margin: 0;
       padding: 0;
}
body{
       background-color: #FCF6EA;
}
.navbar{
       height: 60px;
       width: 100%;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       position: fixed;
       background-color: #FCF6EA ;
       z-index: 1000;
}
.logo{
       height: 80%;
       font-size: 50px;
       font-family: 'Allura',serif;
       color: #c7741a;
}
.nav_items{
        height: 30%;
        width: 40%;
        display: flex;
        justify-content: space-evenly;
}
a{
       text-decoration: none;
       color: #331f13;
       font-size: 16px;
}
.search_bar{
       height: 50%;
       width: 18%;
       background-color: #965828;
       display: flex;
       align-items: center;
       border-radius: 0.5rem;

}
input{
       height: 90%;
       width: 85%;
}
i{
       color: #FCF6EA;
       margin-left: 8px;
}
.hero_section{
       height: 550px;
       width: 100%;
       background-image: url(img.png);
       background-size: cover;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       font-family: 'Baloo 2',cursive;
}
.welcome_heading{
       height: 110px;
       font-size: 95px;
       color: #4A2C1A;
}
.store_name{
       height: 150px;
       font-size: 40px;
       color: #4A2C1A;

}
#store_logo{
       height: 20%;
       font-size: 40px;
       color: #4A2C1A;
       position: relative;
       bottom: 20px;
}
.shop_now_button{
       height: 50px;
       width: 40%;
       text-align: right;
       position: relative;
       left: 100px;
}
#button{
      height: 100%;
      width: 100%;
      background-color: #b86d33;
      color: white;
      font-size: 20px; 
      border-radius: 0.5rem;
       box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
     
}
.categories_section{
       height: 250px;
       width: 100%;
       
}
#categories_heading{
       font-size: 30px;
       margin-left: 10px;
       color: #331f13;
       font-family: 'Poppins',serif;
       
}
.catergories-menu{
        height: 80%;
        width: 100%;
         display: flex;
         justify-content: space-evenly;
         

}
.item{
        height: 80%;
        width: 17%;
        text-align: center;
         box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);

}
.item_image1{
        height: 50%;
        width: 50%;
        margin-top: 30px;
        margin-left: 50px;
        border-radius: 0.5rem;
        background-image: url(raw_peanuts.png);
        background-size: cover;
}
.item_image2{
        height: 50%;
        width: 50%;
        margin-top: 30px;
        margin-left: 50px;
        border-radius: 0.5rem;
        background-image: url(roasted_peanuts.png);
        background-size: cover;
}
.item_image3{
        height: 50%;
        width: 50%;
        margin-top: 30px;
        margin-left: 50px;
        border-radius: 0.5rem;
        background-image: url(salted_peanuts.png);
        background-size: cover;
}
.item_image4{
        height: 50%;
        width: 50%;
        border: 1px solid black;
        margin-top: 30px;
        margin-left: 50px;
        border-radius: 0.5rem;
        background-image: url( butter.png);
        background-size: cover;
}
.products_section{
       height: 400px;
       width: 100%;
       
}
.product_images{
       height: 85%;
       width: 100%;
       display: flex;
       justify-content: space-evenly;
}
.image_box{
       height: 95%;
       width: 18%;
       background-color: #f1e2c4;
       border-radius: 0.5rem;
       box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}
.description_of_product{
       height: 35%;
       width: 90%;
       position: relative;
       top: 10px;
       left: 10px;
}
#product_name{
       font-size: 20px;
}
#product_price{
       color: #c5671f;
       font-size: 18px;
}
#icon{
       color: rgb(230, 198, 38);
       font-size: 18px;
}
.pro_img_1{
       height: 60%;
       width: 90%;
       position: relative;
       top: 10px;
       left: 10px;
       background-image: url(raw_peanuts.png);
       background-size: cover;
}
.pro_img_2{
       height: 60%;
       width: 90%;
       position: relative;
       top: 10px;
       left: 10px;
       background-image: url(roasted_peanuts.png);
       background-size: cover;
}
.pro_img_3{
       height: 60%;
       width: 90%;
       position: relative;
       top: 10px;
       left: 10px;
       background-image: url(salted_peanuts.png);
       background-size: cover;
}
.pro_img_4{
       height: 60%;
       width: 90%;
       position: relative;
       top: 10px;
       left: 10px;
       background-image: url(butter.png);
       background-size: cover;
}
.why_choose_us_section{
       height: 200px;
       width: 100%;
       background: #c49460;
}
.question_main_heading{
          height: 10%;
          width: 100%;
          font-size: 30px;
          font-family: 'Poppins';
          text-align: center;
          color: #4A2C1A;
          margin-top: 10px;
}
.icon_section{
         height: 80%;
         width: 100%;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         margin-top: 20px;
}
.heading_box{
         height: 100%;
         width: 17%;
}
.icon_box{
         height: 30%;
         width: 30%;
         color: #563622;
         margin-top: 20px;
}
.icon_and_heading{
        height: 35%;
        width: 100%;
        display: inline-block;
        margin-top: 20px;
}
#description_of_icon{
       color: #4c5a0d;
       font-size: 50px;
       margin-left: 10px;
}
#question_heading{
        color: #563622;
         margin-top: 18px;
         font-size: 20px;
         font-family: 'Poppins';
         display: inline-block;
}
#question_subheading{
          color: #331f13;
          font-size: 15px;
          margin-left: 25px;
}
.more_about_page{
          height: 80px;
          width: 100%;
          display: flex;
}
.first_letter{
          height: 80%;
          width: 10%;
          border-right: 2px solid #331f13;
          font-size: 60px;
          color: #965828;
          text-align: center;
          display: inline-block;
          margin-top: 10px;
          margin-left: 350px;
}
.about_store{
         height: 80%;
         width: 30%;
         display: inline-block;
         margin-top: 20px;
}
#about_brand{
         font-size: 18px;
         color: #4A2C1A;
         text-align: center;

}
pre{
       margin-left: 450px;
       display: inline-block;
}
#copy{
      display: inline-block;
}
.copyright{
        height: 30px;
        width: 100%;
        background-color: #c49460;
        display: flex;
        align-items: center;
        color: #331f13;
        padding-left: 20px;
}
/*------about us-----*/
.about{
        height: 400px;
        width: 100%;
        display: flex;
}
.about_us{
        height: 100%;
        width: 60%;
        position: relative;
        left: 30px;
}
.farm_pic{
        height: 100%;
        width: 30%;
        position: relative;
        left: 50px;
        background-image: url(about_1_pic.jpeg);
        background-size: cover;
}
#about_para{
        font-size: 16px;
        font-family: 'Poppins';
        color: #331f13;
}
.story{
       height: 200px;
       width: 100%;
       margin-left: 30px;
}
.process{
       height: 260px;
       width: 100%;
       margin-left: 30px;

}
.difference{
       height: 170px;
       width: 100%;
       margin-left: 30px;

}
.family{
       height: 160px;
       width: 100%;
       margin-left: 30px;

}
.pic_of_farmer{
       height: 400px;
       width: 70%;
       position: relative;
       left: 150px;
       background-image: url(about_2_pic.jpeg);
       background-size: cover;
}
/*--------Shop-----*/
.wholesale_peanuts{
       height: 600px;
       width: 75%;
       margin-left: 150px;
       background-color: #cba47a;
       box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}
.peanuts_pic{
       height: 76%;
       width: 100%;
       background-image: url(wholesale1.png);
       background-size: cover;
       text-align: center;
}
.nav-links {
    display: none;
}
.menu-icon {
    display: block !important;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon i {
    color: #331f13 !important; 
    font-size: 24px !important;
    margin-left: 0 !important;
}
.mobile-navbar {
    display: none;
}
